.button{
     width: 100%;
     max-width: 200px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px 20px;
     gap: 15px;
     background: rgba(255,255,255,0.15);
     border-radius: 30px;
     & .button_icon {
          display: flex;
          align-items: center;
     }
}

@media only screen and (max-width: 768px) {
     .button{
          display: flex;
          width: auto;
          border-radius: 50%;
          padding: 15px;
          align-items: center;
          justify-content: center;
          & .button_icon{
               font-size: 1rem;
          }
          & .button_text{
               display: none;
          }
     }
}