.post_form_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 50%;
  width: 70%;
  align-items: center;
  font-family: var(--font-family);
  border: 5px solid var(--border-color);
  padding: 20px;
  border-radius: 30px;
  gap: 5px;
  & .post_form_img {
    height: 100%;
    display: flex;
    & > div {
      display: flex;
      align-items: center;
      height: 100%;
    }
    & h4 {
      margin: 0;
    }
    & .post_form_img_upload {
      width: 100%;

      & .post_form_uploaded_img {
        height: 70%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  & div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    & input,
    textarea {
      font-family: var(--font-family);
      padding: 10px;
      outline: 0;
      border: 0;
      border-radius: var(--border-radius);
    }
    & textarea {
      resize: none;
    }
  }
  & button {
    height: 80%;
    font-size: 1.1rem;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    outline: 0;
    border: 0;
    transition: 0.1s all;
    &:active {
      scale: 1.01;
    }
  }
}
