.post_wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  & .post_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    & .post_author {
      display: flex;
      align-items: center;
      font-size: 1rem;
      gap: 10px;

      & img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
      & span {
        font-size: 1rem;
        text-transform: lowercase;
      }
    }
    & .post_controls {
      display: flex;
      gap: 10px;
      scale: 1.05;
      & .post_liked {
        background-color: green;
      }
      & .comments_opened {
        background-color: slategray;
      }
    }
  }
  & .post_body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid var(--border-color);
    & h4,
    h3 {
      margin: 0;
    }
    & .post_comments {
      border-top: 4px solid slateblue;
      padding: 20px 0;
      position: relative;
    }
  }
  & .post_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
    padding: 5px 20px;
  }
}

@media screen and (max-width: 768px) {
  .post_footer {
    padding-top: 10px 0;
    & .post_controls_wrapper {
      & .post_controls {
        & > div {
          padding: 12px;
          &:active {
            background-color: #557c55;
          }
        }
      }
    }
  }
}
